/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #000;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #000;
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
    height: 100%;
    background-color: #fee202;
    font-family: 'Lato', sans-serif;
}
body {
    color: #000;
    text-align: center;
    //text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 10px 30px;
}

.lead {
    font-size: 28px;
    margin-top: 30px;
    position:relative;
}

.strip {
    position: absolute;
}

.strip.left {
    left:-20%;
    top:0;
}

.strip.right {
    right: -20%;
    bottom: 0;
}

#get-in-touch-button-container {
    padding: 60px 0;
}

.big-tel {
    font-size: 30px;
    color: #333;
    line-height: 38px;
}

.big-tel img {
    margin-right: 6px;
    vertical-align: text-bottom;
    position: relative;
}

/*
 * Header
 */
.masthead {
    background: #fff;
    padding: 0 0 20px 0;
}

.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}

.masthead-nav > li {
    display: inline-block;
}
.masthead-nav > li + li {
    margin-left: 20px;
}
.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #111; /* IE8 proofing */
    color: rgba(17,17,17,1);
    border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(30,30,30,.75);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }
    .masthead-nav {
        float: right;
    }
}


/*
 * Cover
 */

.cover {
    padding: 0;
    margin-top: 30px;
    overflow:hidden;
}
.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
    color: #000; /* IE8 proofing */
    color: rgba(0,0,0,1);
    margin-bottom: 30px;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }

    .big-tel {
        font-size: 40px;
        line-height: 38px;
    }
    .big-tel img {
        vertical-align: initial;
    }
}
